@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    margin: 0;
    background: #fafafa;
    overflow-x: hidden;
    font-family: 'oACYCZno';
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}
