@font-face { font-family: 'oACYCZno'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/oACYCZno.woff') format('font-woff'); font-weight: normal; font-style: normal; }

.outer {
    padding: 0 3vw;
}

.inner {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
}

.home {

}

.overlay {
    opacity: 0;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    // background-color: rgb(53, 126, 236);
    background-color: rgb(161, 161, 161);
    transition: all 0.5s;
}

.overlay:hover {
    opacity: 0.15;
}


//header
.site-header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    background-size: cover;
    color: white;
}

.site-title {
    margin: 0;
    font-size: 2.8rem;
    opacity: 0.95;
    
}

.site-subtitle {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    opacity: 0.65;
}

.site-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    max-height: 450px;
    padding: 4vw 4vw;
    text-align: center;
}

//banner
.banner {
    background-color: black;
}

//Nav
.site-nav {
    display: flex;
    position: relative;
    overflow-y: hidden; 
    z-index: 300;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
    font-size: 0.95rem;
    color: white;
    opacity: 0.7;
}

.nav-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-li {
    padding: 10px;
}

.nav-li a {
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icon {
    padding: 10px
}

.site-nav-left {
    align-items: center;
    overflow-x: auto;
    margin-right: 10px;
    padding-bottom: 80px;
    letter-spacing: .4px;
    white-space: nowrap;
}

.site-nav-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.icon-lg {
    font-size: 1.8rem;
    line-height: .75em;
    vertical-align: -15%;
}

//post

.post-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 4vh 0 0 0;
    margin: 0 -10px;
}

//post-card

.post-card {
    display: flex;
    flex: 1 1 305px;
    flex-direction: column;
    min-height: 300px;
    overflow: hidden;
    margin: 0 20px 40px;
    background: white 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, .2);
    transition: all .5s;
    position: relative;

    
}

.post-card:hover{
    transform: translate3D(0,-3px,0);
}


.post-card-title {
    font-size: 1.3rem;
    overflow: hidden;
    font-family: 'oACYCZno';
    margin:0;
    word-break:break-all;
}

.post-card-subtitle {
    font-size: 1rem;
    overflow: hidden;
    font-family: 'oACYCZno';
}

.post-card-tags {
    font-weight: bold;
    color: rgb(56, 120, 238);
}

.post-card-image-link{
    position: relative;
    display: block;
    overflow: hidden;
    background: #bbbbbb no-repeat 50%;
}

.post-card-image {
    width: 100%;
    height: 200px;
    background: #bbbbbb no-repeat 50%;
    background-size: cover;
}


.post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.post-card-content-link {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: #2a2a2a;
}

.devlog-list {
    padding-top: 15px;
}

.devlog-card {
    min-height: 100px;
    background: white 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, .2);
    transition: all .5s;
}

.devlog-card:hover{
    transform: translate3D(0,-3px,0);
}

.card-title {
    font-size: 1.3rem;
    overflow: hidden;
    font-family: 'oACYCZno';
    margin:0;
    word-break:break-all;
}

.card-image-link{
    position: relative;
    display: block;
    overflow: hidden;
}

.card-image {
    width: 100%;
    min-height: 100px;
    background: #bbbbbb no-repeat 50%;
    background-size: cover;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.card-content-link {
    position: relative;
    display: block;
    margin: 5px;
    color: #2a2a2a;
}


//detail
.post-detail {
    position: relative;
    z-index: 20;
}

.post-detail-header {
    max-width: 1040px;
    margin: 0;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: fixed;
    transition: all 0.5s;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.post-detail-header-title {
    font-size: 2.4rem;
    margin:0;
    opacity: 0.95;
}
.post-detail-header-subtitle {
    font-size: 1.0rem;
    margin: 10px 0 0 0;
    color: white;
    opacity: 0.9;
}

.post-detail-contents {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, .2);
    transition: all .5s;
    position: relative;
    top: -20vh;
    font-size: 1.3rem;
    // background-color: #fafafa;
    background-color: white;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 2rem;
    overflow-x: hidden;
}

.parallax-outer {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    top:-75px;
}

.parallax-background {
    min-height: 110vh;
    margin:0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3e4eda;
}



//footer
.site-footer {
    padding-top: 30px;
    padding-bottom: 70px;
}

.site-footer-text {
    
}


@media screen and (min-width: 850px) {
    
    

    .post-detail-header {
        width: 800px;
        min-width: 800px;
    }

    .post-detail-header-title {
        font-size: 3.0rem;
    }

    .home .post-card {
        flex: 1 1 290px;
    }

    .home .post-card:nth-child(6n+1){
        flex: 1 1 100%;
        flex-direction: row;
    }
    
    .home .post-card:nth-child(6n+1) .post-card-image{
        height: 400px;
    }
    
    .home .post-card:nth-child(6n+1) .post-card-image-link {
        flex: 1 1 auto;
    }
    
    .home .post-card:nth-child(6n+1) .post-card-content {
        flex: 0 1 365px;
    }
    
    .home .post-card:nth-child(6n+1) .post-card-content-link {
        padding: 30px 40px 0px;
    }

    .home .post-card:nth-child(6n+1) .post-card-title {
        font-size: 1.9rem;
        font-family: 'oACYCZno';
    }
    
    .home .post-card:nth-child(6n+1) .post-card-subtitle {
        font-size: 1.2rem;
        font-family: 'oACYCZno';
    }
}


@media screen and (min-width: 900px) {
    .post-list{
        margin-top: -100px
    }
    .top-70 {
        top: -70px;
    }
}
